

<div class="header">
   <div class="container text-center">

    <div class="mt-5 d-flex  align-content-center  flex-column  header-items"> 
     <h1> Create your professional CV here </h1>
     <h3> Create your very own professional CV and download it within 15 minutes. </h3>

     <p>  <button routerLink="/genrateCv" class="btn btn-outline-light btn-lg cv-btn">Create your own cv</button> </p>
     
      <h3 >Create, maintain, publish, and share your CVs for free </h3>
        
     <p> You'll be 65% more likely to get a job</p>
    </div>
   </div>
</div>