<div  class="card education p-5 mt-5 shadow">
    <h3 class="card-title">
      <fa-icon class="fa-1x mr-2" [icon]="brifecase"></fa-icon>
      Education
      <span class="align-items-around float-right">
        <fa-icon class="fa-0x mr-2" (click)="up('education')"  [icon]="arrowup"></fa-icon>
        <fa-icon class="fa-0x mr-2" (click)="down('education')" [icon]="arrowdown"></fa-icon>
        <fa-icon class="fa-0x mr-2" (click)="setting('education')" [icon]="gear"></fa-icon>
      </span>
    </h3>
    <hr>
    <div [formGroup]="edu.get('education1')" >
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="form-group"  >
          <label for="degree">Degree</label>
          <input type="text" class="form-control"  formControlName="degree" id="degree" placeholder="your degree" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" >
          <label for="town"> City/Town</label>
          <input type="text" class="form-control"  formControlName="city"  id="town" placeholder="your town" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="form-group"  >
          <label for="school"> School</label>
          <input type="text" class="form-control"  formControlName="school" id="school" placeholder="your school" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="form-group"  >
          <label for="startdate"> Start Date</label>
          <div formGroupName="startDate"   class="d-flex flex-row ">
            <select  formControlName="month" class="custom-select col-6 mr-1">
              <option> Don't show </option>
              <option> Show year only </option>
              <option> January </option>
              <option> February </option>
              <option> March </option>
              <option> April </option>
                  <option> May </option>
                  <option> June </option>
                  <option> July </option>
                  <option> August </option>
                  <option> September </option>
                  <option> October </option>
                  <option> November </option>
                  <option> December </option>
            </select>
  
            <select  formControlName="year" class="custom-select col-6">
              <option> 2023 </option>
              <option> 2022 </option>
              <option> 2021 </option>
              <option> 2020 </option>
              <option> 2019 </option>
              <option> 2018 </option>
              <option> 2017 </option>
              <option> 2016 </option>
              <option> 2015 </option>
              <option> 2014 </option>
            </select>
  
          </div>
  
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"  >
          <label for="enddate"> End Date</label>
          <div  formGroupName="endDate" class="d-flex flex-row">
            <select  formControlName="month" class="custom-select col-6 mr-1">
              <option> Don't show </option>
              <option> Show year only </option>
              <option> January </option>
              <option> February </option>
              <option> March </option>
              <option> April </option>
                  <option> May </option>
                  <option> June </option>
                  <option> July </option>
                  <option> August </option>
                  <option> September </option>
                  <option> October </option>
                  <option> November </option>
                  <option> December </option>
            </select>
  
            <select  formControlName="year" class="custom-select col-6 ">
              <option> 2023 </option>
              <option> 2022 </option>
              <option> 2021 </option>
              <option> 2020 </option>
              <option> 2019 </option>
              <option> 2018 </option>
              <option> 2017 </option>
              <option> 2016 </option>
              <option> 2015 </option>
              <option> 2014 </option>
            </select>
  
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="form-group">
          <label for="description"> Description</label>
          <div class="list-group" #description >
            

             
              <quill-editor  [styles]="{height: '140px'}" class="textarea" formControlName="description"
             placeholder="Enter Text" 
             ></quill-editor>

          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="form-group">
          <div class="float-left btn btn-outline-dark btn-md" (click)="toggleTips()">
            <fa-icon class="fa-1x mr-2" [icon]="tip"></fa-icon> Tips
          </div>
  
          <!-- <div class="float-right btn ml-5 btn-outline-dark btn-md">
              <fa-icon class="fa-1x mr-2" [icon]="save"></fa-icon> Save
            </div> -->
  
          <!-- <div class="float-right btn btn-outline-dark btn-md">
              <fa-icon class="fa-1x mr-2" [icon]="delete"></fa-icon> Delete
            </div> -->
        </div>
      </div>
    </div>

    <!-- Tips Modal -->
    <div class="tips-modal" *ngIf="showTipsModal" @fadeIn>
      <div class="tips-content">
        <div class="tips-header">
          <h6><fa-icon [icon]="tip" class="mr-2 text-warning"></fa-icon>Education Tips</h6>
          <button class="close-btn" (click)="toggleTips()">&times;</button>
        </div>
        <ul class="tips-list">
          <li *ngFor="let tip of educationTips">
            <fa-icon [icon]="['fas', 'check-circle']" class="mr-2 text-success"></fa-icon>
            {{ tip }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="education2"  [formGroup]="education2" >
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group"  >
              <label for="degree">Degree</label>
              <input type="text" class="form-control"  formControlName="degree" id="degree" placeholder="your degree" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" >
              <label for="town"> City/Town</label>
              <input type="text" class="form-control"  formControlName="city"  id="town" placeholder="your town" />
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-group"  >
              <label for="school"> School</label>
              <input type="text" class="form-control"  formControlName="school" id="school" placeholder="your school" />
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group"  >
              <label for="startdate"> Start Date</label>
              <div formGroupName="startDate"   class="d-flex flex-row ">
                <select  formControlName="month" class="custom-select col-6 mr-1">
                  <option> Don't show </option>
                  <option> Show year only </option>
                  <option> January </option>
                  <option> February </option>
                  <option> March </option>
                  <option> April </option>
                  <option> May </option>
                  <option> June </option>
                  <option> July </option>
                  <option> August </option>
                  <option> September </option>
                  <option> October </option>
                  <option> November </option>
                  <option> December </option>
                </select>
      
                <select  formControlName="year" class="custom-select col-6">
                  <option> 2023 </option>
                  <option> 2022 </option>
                  <option> 2021 </option>
                  <option> 2020 </option>
                  <option> 2019 </option>
                  <option> 2018 </option>
                  <option> 2017 </option>
                  <option> 2016 </option>
                  <option> 2015 </option>
                  <option> 2014 </option>
                </select>
      
              </div>
      
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group"  >
              <label for="enddate"> End Date</label>
              <div  formGroupName="endDate" class="d-flex flex-row">
                <select  formControlName="month" class="custom-select col-6 mr-1">
                  <option> Don't show </option>
                  <option> Show year only </option>
                  <option> January </option>
                  <option> February </option>
                  <option> March </option>
                  <option> April </option>
                  <option> May </option>
                  <option> June </option>
                  <option> July </option>
                  <option> August </option>
                  <option> September </option>
                  <option> October </option>
                  <option> November </option>
                  <option> December </option>
                </select>
      
                <select  formControlName="year" class="custom-select col-6 ">
                  <option> 2023 </option>
                  <option> 2022 </option>
                  <option> 2021 </option>
                  <option> 2020 </option>
                  <option> 2019 </option>
                  <option> 2018 </option>
                  <option> 2017 </option>
                  <option> 2016 </option>
                  <option> 2015 </option>
                  <option> 2014 </option>
                </select>
      
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-group">
              <label for="description"> Description</label>
              <div class="list-group" #description >
                 
                  <quill-editor  [styles]="{height: '140px'}" class="textarea" formControlName="description"
                 placeholder="Enter Text" 
                 ></quill-editor>
               
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-group">
              <div class="float-left btn btn-outline-dark btn-md">
                <fa-icon class="fa-1x mr-2" [icon]="tip"></fa-icon> Tips
              </div>
      
              <!-- <div class="float-right btn ml-5 btn-outline-dark btn-md">
                  <fa-icon class="fa-1x mr-2" [icon]="save"></fa-icon> Save
                </div> -->
      
              <div class="float-right btn btn-outline-dark btn-md" (click)="deleteextra('education2')">
                  <fa-icon class="fa-1x mr-2" [icon]="delete"></fa-icon> Delete
                </div>
            </div>
          </div>
        </div>
  </div> 
  <div *ngIf="education3"  [formGroup]="education3" >
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group"  >
            <label for="degree">Degree</label>
            <input type="text" class="form-control"  formControlName="degree" id="degree" placeholder="your degree" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" >
            <label for="town"> City/Town</label>
            <input type="text" class="form-control"  formControlName="city"  id="town" placeholder="your town" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="form-group"  >
            <label for="school"> School</label>
            <input type="text" class="form-control"  formControlName="school" id="school" placeholder="your school" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group"  >
            <label for="startdate"> Start Date</label>
            <div formGroupName="startDate"   class="d-flex flex-row ">
              <select  formControlName="month" class="custom-select col-6 mr-1">
                <option> Don't show </option>
                <option> Show year only </option>
                <option> January </option>
                <option> February </option>
                <option> March </option>
                <option> April </option>
                  <option> May </option>
                  <option> June </option>
                  <option> July </option>
                  <option> August </option>
                  <option> September </option>
                  <option> October </option>
                  <option> November </option>
                  <option> December </option>
              </select>
    
              <select  formControlName="year" class="custom-select col-6">
                <option> 2023 </option>
                <option> 2022 </option>
                <option> 2021 </option>
                <option> 2020 </option>
                <option> 2019 </option>
                <option> 2018 </option>
                <option> 2017 </option>
                <option> 2016 </option>
                <option> 2015 </option>
                <option> 2014 </option>
              </select>
    
            </div>
    
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"  >
            <label for="enddate"> End Date</label>
            <div  formGroupName="endDate" class="d-flex flex-row">
              <select  formControlName="month" class="custom-select col-6 mr-1">
                <option> Don't show </option>
                <option> Show year only </option>
                <option> January </option>
                <option> February </option>
                <option> March </option>
                <option> April </option>
                  <option> May </option>
                  <option> June </option>
                  <option> July </option>
                  <option> August </option>
                  <option> September </option>
                  <option> October </option>
                  <option> November </option>
                  <option> December </option>
              </select>
    
              <select  formControlName="year" class="custom-select col-6 ">
                <option> 2023 </option>
                <option> 2022 </option>
                <option> 2021 </option>
                <option> 2020 </option>
                <option> 2019 </option>
                <option> 2018 </option>
                <option> 2017 </option>
                <option> 2016 </option>
                <option> 2015 </option>
                <option> 2014 </option>
              </select>
    
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description"> Description</label>
            <div class="list-group" #description >
              
                <quill-editor  [styles]="{height: '140px'}" class="textarea" formControlName="description"
               placeholder="Enter Text" 
               ></quill-editor>
             
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="form-group">
            <div class="float-left btn btn-outline-dark btn-md">
              <fa-icon class="fa-1x mr-2" [icon]="tip"></fa-icon> Tips
            </div>
    
            <!-- <div class="float-right btn ml-5 btn-outline-dark btn-md">
                <fa-icon class="fa-1x mr-2" [icon]="save"></fa-icon> Save
              </div> -->
    
            <div class="float-right btn btn-outline-dark btn-md" (click)="deleteextra('education3')" >
                <fa-icon class="fa-1x mr-2" [icon]="delete"></fa-icon> Delete
              </div>
          </div>
        </div>
      </div>
</div>
    <div *ngFor="let item of extraEducations" [formGroup]="item.group">
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label>Degree</label>
            <input type="text" class="form-control" formControlName="degree" placeholder="your degree" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> City/Town</label>
            <input type="text" class="form-control" formControlName="city" placeholder="your town" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="form-group">
            <label> School</label>
            <input type="text" class="form-control" formControlName="school" placeholder="your school" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label> Start Date</label>
            <div formGroupName="startDate" class="d-flex flex-row">
              <select formControlName="month" class="custom-select col-6 mr-1">
                <option> Don't show </option><option> Show year only </option><option> January </option><option> February </option><option> March </option><option> April </option><option> May </option><option> June </option><option> July </option><option> August </option><option> September </option><option> October </option><option> November </option><option> December </option>
              </select>
              <select formControlName="year" class="custom-select col-6">
                <option> 2023 </option><option> 2022 </option><option> 2021 </option><option> 2020 </option><option> 2019 </option><option> 2018 </option><option> 2017 </option><option> 2016 </option><option> 2015 </option><option> 2014 </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> End Date</label>
            <div formGroupName="endDate" class="d-flex flex-row">
              <select formControlName="month" class="custom-select col-6 mr-1">
                <option> Don't show </option><option> Show year only </option><option> January </option><option> February </option><option> March </option><option> April </option><option> May </option><option> June </option><option> July </option><option> August </option><option> September </option><option> October </option><option> November </option><option> December </option>
              </select>
              <select formControlName="year" class="custom-select col-6">
                <option> 2023 </option><option> 2022 </option><option> 2021 </option><option> 2020 </option><option> 2019 </option><option> 2018 </option><option> 2017 </option><option> 2016 </option><option> 2015 </option><option> 2014 </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="form-group">
            <label> Description</label>
            <quill-editor [styles]="{height: '140px'}" class="textarea" formControlName="description" placeholder="Enter Text"></quill-editor>
          </div>
          <div class="float-right btn btn-outline-dark btn-md" (click)="deleteextra(item.key)">
            <fa-icon class="fa-1x mr-2" [icon]="delete"></fa-icon> Delete
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <div class="addanother btn btn-light btn-lg text-secondary" (click)="addextraeducation()">
            <fa-icon class="fa-1x mr-2" [icon]="add"></fa-icon> Add another education upto 5
        </div>
      </div>
    </div>
  </div>