.otago{font-size:14px;height:400px;overflow:hidden;padding:0 10px;background:#fff;}
.otago  .title{ padding:10px; text-transform: uppercase; }
.modal .modal-body  .otago   {height:auto!important}
.otago h2 {
    font-size: 1em
}

.otago  h5 {
    font-size: .7em
}

.otago p {
    font-size: .6em
}

.otago  .right-part {
    background: #fff;
    color: #333;
    padding: 10px;
}

.otago  .left-part {
    background: #fff;
    color: #333;
    // padding: 10px;
}
.otago  .right-part .media-body div.description > p { margin-bottom:0px!important;font-size: .6em!important;}
.otago  .right-part .media-body div.description > ul { margin-bottom:0px!important;}
.otago .right-part .media-body div.description > ul li { margin-bottom:0px!important;font-size: .6em!important;}
.otago  .right-part .media-body div.description > ol li { margin-bottom:0px!important;font-size: .6em!important;}