<div class="difference"> 
<div class="col-sm-8 offset-sm-2">
  <h2 class="text-center mb-2"> Apply Successfully </h2>
  <p class="text-center mb-2" > With the help of CV maker, your professional CV is always within reach. Whether you decide to quickly and easily create it yourself with our CV maker, or having it made bespoke by our professionals
     - your CV always stands out from the crowd.</p>
  <div class="d-flex flex-column flex-sm-row justify-content-between mt-5"> 
   <div *ngFor="let item of differenceData"  class="difference-item card d-flex">
       <div class="card-body"> 
      <div class="col-12">
        <h4 class="card-header card-title" > {{item.title}} </h4>
      </div>
      <div class="col-12">
         <ul class="list">
           <li *ngFor="let diffs of item.diff " class=" card-text" > {{diffs.text}} </li>
         </ul>
      </div>
    </div>
   </div>
  </div>
</div>
</div>