<section class="testimonials-section">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title">What Our Users Say</h2>
      <p class="section-subtitle">They all found their dream jobs with our resume builder</p>
    </div>
    <div class="row g-4">
      <div *ngFor="let item of datatestimonials" class="col-lg-4 col-md-6">
        <div class="testimonial-card">
          <div class="testimonial-header">
            <div class="user-avatar">
              <fa-icon [icon]="user"></fa-icon>
            </div>
            <div class="user-info">
              <h4 class="user-name">{{item.title}}</h4>
              <div class="rating">
                <fa-icon class="star" [icon]="star"></fa-icon>
                <fa-icon class="star" [icon]="star"></fa-icon>
                <fa-icon class="star" [icon]="star"></fa-icon>
                <fa-icon class="star" [icon]="star"></fa-icon>
                <fa-icon class="star" [icon]="star"></fa-icon>
              </div>
            </div>
          </div>
          <p class="testimonial-text">{{item.text}}</p>
          <p class="user-role">{{item.role}}</p>
        </div>
      </div>
    </div>
  </div>
</section>